
body {
    margin: 0;
}
nav{

    display: flex;
    justify-content: space-between;
}

nav ul{
 display: flex;
 list-style: none;
 gap: 2rem;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header{
    background-color: rgba(140, 193, 236, 0.966);
    color: rgb(255, 255, 255);
    padding: 1rem;
}
nav a:hover{
 color: blue;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 113, 168);
    padding: 3rem;

}