body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;   
}
nav a{
    text-decoration: none;
    color: rgb(228, 238, 227);
}
header{
    background-color: rgb(4, 148, 231);
    color: white;
    padding: 1rem;
}
nav a:hover{
    color: white;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 17, 29);
    padding: 3rem;
}
.hero img{
    width: 150px;
    height: 150px;
    border-radius: 100%;z
    margin-right: 8rem;
    
}
li{
    color: white;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}
.skill{
    background: #235fe2ff;
background: linear-gradient(90deg, rgb(0, 255, 42) 0%, rgb(174, 219, 9) 47%, rgb(6, 200, 226) 100%);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
   

.container{
    background-color: rgb(0, 255, 221);
    padding: 25px;
    margin-right: 3rem;
    margin: 1rem;
}
.container h2,h3{
    margin: 0;
}
h2{
    margin-top: 0;
}
i{
    margin-left: 1rem;
    
}
footer{
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    margin-top: 2rem;
}
